.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;

  .account-amount {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .account-amount-description {
    margin: 0;
  }

  .account-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
  }

  .account-content-wrapper {
    width: 100%;
    flex: 1;
  }

  .transaction-button {
    display: block;
    align-self: center;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    border-radius: unset;
    border-right: 2px solid #008c5a;
    border-bottom: 2px solid #008c5a;
    color: #fff;
  }
  // Pour les écrans plus petits, sous 720px, on met le bouton en bas
  @media (max-width: 720px) {
    flex-direction: column; // On passe à une disposition verticale
    align-items: flex-start; // Aligne les éléments à gauche

    .transaction-button {
      width: 100%; // Le bouton prend toute la largeur sur les petits écrans
      margin-top: 1rem; // Un peu de marge au-dessus du bouton
      margin-bottom: 1rem; // Un peu de marge en bas
    }
  }
}
