$mainColor: #2c3e50;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  .logo {
    max-width: 100%;
    width: 200px;
  }

  .logIn {
    display: flex;
    font-weight: bold;
    color: $mainColor;
    text-decoration: none;
    align-items: center;
    .signInIcon {
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .logOut {
    display: flex;
    gap: 15px;
    font-weight: bold;
    align-items: center;

    .signOutIcon {
      color: $mainColor;
      font-size: 1.2rem;
      margin-right: 0.2rem;
    }
    .userInfo {
      display: flex;
      align-items: center;
      color: $mainColor;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    .signOut {
      color: $mainColor;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
